<svg class="backdrop-blur-xl rounded-full" width="50" height="50" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
    <foreignObject x="-96" y="-96" width="232" height="232">
        <div xmlns="http://www.w3.org/1999/xhtml"
            style="height:100%;width:100%">
        </div>
    </foreignObject>
    <g data-figma-bg-blur-radius="96">
        <rect width="40" height="40" rx="20" fill="#101010" fill-opacity="0.6" />
        <path
            d="M17.3073 9.59418C19.86 9.02844 22.531 9.39114 24.8396 10.6186C27.1481 11.8462 28.9428 13.8578 29.9011 16.2905C30.8594 18.7233 30.9184 21.4188 30.0671 23.8911C29.2158 26.3632 27.5103 28.4507 25.2575 29.7778C23.0047 31.1048 20.352 31.5842 17.7771 31.1303C15.202 30.6763 12.8729 29.3178 11.2097 27.3002C9.54666 25.2826 8.6582 22.7377 8.70382 20.1235C8.71037 19.7555 9.01358 19.4629 9.38156 19.4692C9.74952 19.4758 10.0432 19.7789 10.0368 20.1469C9.99675 22.4439 10.7777 24.6799 12.239 26.4526C13.7003 28.2251 15.7462 29.4189 18.0085 29.8178C20.2707 30.2166 22.6015 29.7951 24.5808 28.6293C26.5601 27.4633 28.0584 25.6286 28.8064 23.4565C29.5543 21.2844 29.5028 18.9162 28.6609 16.7787C27.8189 14.6416 26.2417 12.8748 24.2136 11.7963C22.1852 10.7178 19.8382 10.3988 17.5954 10.8959C15.6298 11.3317 13.8562 12.3691 12.5173 13.8539L14.3161 12.8159C14.6349 12.6321 15.0422 12.7414 15.2263 13.06C15.4101 13.3787 15.3007 13.786 14.9821 13.9702L11.4519 16.0082L11.3015 16.0825C10.59 16.3724 9.78381 15.9071 9.67941 15.1459L9.66769 14.978V10.9018C9.66803 10.534 9.96685 10.236 10.3347 10.2358C10.7027 10.2359 11.0017 10.5347 11.0017 10.9028V13.5932C12.5713 11.5661 14.8014 10.1497 17.3073 9.59418ZM11.0017 14.7299L11.0993 14.6733C11.0813 14.6622 11.0619 14.6531 11.0446 14.6401C11.0289 14.6282 11.016 14.613 11.0017 14.6V14.7299Z"
            fill="white" />
    </g>
    <defs>
        <clipPath id="bgblur_0_4905_47268_clip_path" transform="translate(96 96)">
            <rect width="40" height="40" rx="20" />
        </clipPath>
    </defs>
    <text x="48%" y="52%" text-anchor="middle" dominant-baseline="middle" fill="white" font-size="8"
        font-family="aktiv-grotesk">
        15
    </text>
</svg>