<svg class="backdrop-blur-xl rounded-full" width="50" height="50" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
    <foreignObject x="-96" y="-96" width="232" height="232">
        <div xmlns="http://www.w3.org/1999/xhtml"
            style="height:100%;width:100%">
        </div>
    </foreignObject>
    <g data-figma-bg-blur-radius="96">
        <rect width="40" height="40" rx="20" fill="#101010" fill-opacity="0.6" />
        <path
            d="M22.6927 9.59418C20.14 9.02844 17.469 9.39114 15.1604 10.6186C12.8519 11.8462 11.0572 13.8578 10.0989 16.2905C9.14064 18.7233 9.08163 21.4188 9.9329 23.8911C10.7842 26.3632 12.4897 28.4507 14.7425 29.7778C16.9953 31.1048 19.648 31.5842 22.2229 31.1303C24.798 30.6763 27.1271 29.3178 28.7903 27.3002C30.4533 25.2826 31.3418 22.7377 31.2962 20.1235C31.2896 19.7555 30.9864 19.4629 30.6184 19.4692C30.2505 19.4758 29.9568 19.7789 29.9632 20.1469C30.0033 22.4439 29.2223 24.6799 27.761 26.4526C26.2997 28.2251 24.2538 29.4189 21.9915 29.8178C19.7293 30.2166 17.3985 29.7951 15.4192 28.6293C13.4399 27.4633 11.9416 25.6286 11.1936 23.4565C10.4457 21.2844 10.4972 18.9162 11.3391 16.7787C12.1811 14.6416 13.7583 12.8748 15.7864 11.7963C17.8148 10.7178 20.1618 10.3988 22.4046 10.8959C24.3702 11.3317 26.1438 12.3691 27.4827 13.8539L25.6839 12.8159C25.3651 12.6321 24.9578 12.7414 24.7737 13.06C24.5899 13.3787 24.6993 13.786 25.0179 13.9702L28.5481 16.0082L28.6985 16.0825C29.41 16.3724 30.2162 15.9071 30.3206 15.1459L30.3323 14.978V10.9018C30.332 10.534 30.0331 10.236 29.6653 10.2358C29.2973 10.2359 28.9983 10.5347 28.9983 10.9028V13.5932C27.4287 11.5661 25.1986 10.1497 22.6927 9.59418ZM28.9983 14.7299L28.9007 14.6733C28.9187 14.6622 28.9381 14.6531 28.9554 14.6401C28.9711 14.6282 28.984 14.613 28.9983 14.6V14.7299Z"
            fill="white" />
    </g>
    <defs>
        <clipPath id="bgblur_0_4905_47272_clip_path" transform="translate(96 96)">
            <rect width="40" height="40" rx="20" />
        </clipPath>
    </defs>
    <text x="49%" y="52%" text-anchor="middle" dominant-baseline="middle" fill="white" font-size="8"
        font-family="aktiv-grotesk">
        15
    </text>
</svg>