<svg class="backdrop-blur-xl rounded-full"  width="72" height="72" viewBox="0 0 120 120" fill="none" xmlns="http://www.w3.org/2000/svg">
<foreignObject x="-96" y="-96" width="312" height="312"><div xmlns="http://www.w3.org/1999/xhtml" style="height:100%;width:100%"></div></foreignObject><g data-figma-bg-blur-radius="96">
<rect width="120" height="120" rx="60" fill="#101010" fill-opacity="0.6"/>
<path d="M75.5632 54.8726C79.4084 57.2095 79.4084 62.7905 75.5632 65.1274L50.3661 80.4406C46.3676 82.8706 41.25 79.9922 41.25 75.3132L41.25 44.6868C41.25 40.0078 46.3676 37.1294 50.3661 39.5594L75.5632 54.8726Z" fill="white"/>
</g>
<defs>
<clipPath id="bgblur_0_2857_675_clip_path" transform="translate(96 96)"><rect width="120" height="120" rx="60"/>
</clipPath></defs>
</svg>
