<div class="bg_gs bg_gsp flex flex-col px-4 md:px-10 lg:px-[128px]">
    <img src="{{ section.settings.rounded-image | img_url: 'master' }}" 
         alt="{{ section.settings.rounded-image-alt }}"
         class="w-full object-cover rounded-[16px] cursor-pointer z-10"
         id="short-desktop-img">
</div>
{% schema %}
{
    "name": "Rounded Image auto height",
    "settings": [
        {
            "type": "image_picker",
            "id": "rounded-image",
            "label": "Pick the image"
        },
        {
            "type": "text",
            "id": "rounded-image-alt",
            "label": "Image alt",
            "default": "Alt"
        }
        ],
        "presets": [
            {
                "name": "Rounded Image Auto Height",
                "category": "Media Sections"
            }
        ]
}
{% endschema %}