<div class="text-title flex flex-col px-4 md:px-12 lg:px-24 gap-10 lg:gap-12 text-white" style=" --padding-bottom-desktop: {{ section.settings.padding_bottom_desktop }}px;   --padding-bottom-mobile: {{ section.settings.padding_bottom_mobile }}px;">
    <!-- title + text -->
     <div class="flex flex-col gap-3 lg:gap-6 md:max-w-[437px] lg:max-w-[511px]">
        <div class="flex h6 uppercase text-4xl leading-[42px] lg:text-[56px] lg:leading-[62px]">
            {{ section.settings.ttc-title }}
        </div>
        <div class=" body-regular text-[16px] leading-[22px] lg:text-[18px] lg:leading-[24px]">
            {{ section.settings.ttc-text1 | newline_to_br }}
        </div>
     </div>
</div>

<style>
.text-title {
  padding-bottom: var(--padding-bottom-mobile);
}

@media screen and (min-width: 768px) {
  .text-title {
    padding-bottom: var(--padding-bottom-desktop);
  }
}
</style>

{% schema %}
{
  "name": "Full Title and Text",
  "settings": [
    {
      "type": "header",
      "content": "Section Content"
    },
    {
      "type": "text",
      "id": "ttc-title",
      "label": "Title",
      "default": "ESPERIENZE DI YACHTING DI LUSSO BY CANTIERE DEL PARDO"
    },
    {
      "type": "textarea",
      "id": "ttc-text1",
      "label": "Text area",
      "default": "Lifestyle, design e performance sono da sempre i tratti distintivi di VanDutch, oggi esaltati dall’expertise del “Made in Italy”. Dal 2020, il brand fa parte della famiglia di Cantiere del Pardo—cantiere italiano di riferimento con quasi cinquant’anni di esperienza nella costruzione di yacht d’eccellenza."
    },

    {
      "type": "header",
      "content": "Padding"
    },
    {
      "type": "range",
      "id": "padding_bottom_mobile",
      "label": "Padding Bottom Mobile",
      "min": 0,
      "max": 200,
      "step": 2,
      "default": 96
    },
    {
      "type": "range",
      "id": "padding_bottom_desktop",
      "label": "Padding Bottom Desktop",
      "min": 0,
      "max": 100,
      "step": 2,
      "default": 56
    }
  ],
  "presets": [
    {
      "name": "Full Title and Text",
      "category": "Common sections"
    }
  ]
}
{% endschema %}