@import "tailwindcss";

.title_gs{
    font-family: "roc-grotesk", sans-serif; 
    font-size: 56px;
    line-height: 60px;
    font-weight: 500; 
    font-style: normal;
    text-transform: uppercase;
}

.heading-lg_gs{
    font-family: "roc-grotesk", sans-serif; 
    font-size: 48px;
    line-height: 52px;
    font-weight: 500; 
    font-style: normal;
    text-transform: uppercase;
}

.quote-lg_gs{
    font-family: "roc-grotesk", sans-serif; 
    font-size: 48px;
    line-height: 52px;
    font-weight: 500; 
    font-style: normal;
}

.heading-md_gs{
    font-family: "roc-grotesk", sans-serif; 
    font-size: 32px;
    line-height: 36px;
    font-weight: 500; 
    font-style: normal;
    text-transform: uppercase;
}

.quote-md_gs{
    font-family: "roc-grotesk", sans-serif; 
    font-size: 32px;
    line-height: 36px;
    font-weight: 500; 
    font-style: normal;
}

.heading-sm_gs{
    font-family: "roc-grotesk", sans-serif; 
    font-size: 24px;
    line-height: 28px;
    font-weight: 500; 
    font-style: normal;
    text-transform: uppercase;
}

.quote-sm_gs{
    font-family: "roc-grotesk", sans-serif; 
    font-size: 24px;
    line-height: 28px;
    font-weight: 500; 
    font-style: normal;
}

.subtitle_gs{
    font-family: "roc-grotesk", sans-serif; 
    font-size: 18px;
    line-height: 22px;
    font-weight: 500; 
    font-style: normal;
    text-transform: uppercase;
}

.subtitle-rg_gs{
    font-family: "roc-grotesk", sans-serif; 
    font-size: 18px;
    line-height: 22px;
    font-weight: 400; 
    font-style: normal;
    text-transform: uppercase;
}

.pretitle-lg_gs{
    font-family: "helvetica-neue-lt-pro", sans-serif; 
    font-size: 18px;
    line-height: 24px;
    font-weight: 500; 
    font-style: normal;
    text-transform: uppercase;
}

.pretitle-md_gs{
    font-family: "helvetica-neue-lt-pro", sans-serif; 
    font-size: 16px;
    line-height: 22px;
    font-weight: 500; 
    font-style: normal;
    text-transform: uppercase;
}

.pretitle-sm_gs{
    font-family: "helvetica-neue-lt-pro", sans-serif; 
    font-size: 14px;
    line-height: 20px;
    font-weight: 500; 
    font-style: normal;
    text-transform: uppercase;
}

.pretitle-xs_gs{
    font-family: "helvetica-neue-lt-pro", sans-serif; 
    font-size: 12px;
    line-height: 18px;
    font-weight: 500; 
    font-style: normal;
    text-transform: uppercase;
}

.body-lg_gs{
    font-family: "helvetica-neue-lt-pro", sans-serif; 
    font-size: 18px;
    line-height: 24px;
    font-weight: 400; 
    font-style: normal;
}

.body-md_gs{
    font-family: "helvetica-neue-lt-pro", sans-serif; 
    font-size: 16px;
    line-height: 22px;
    font-weight: 400; 
    font-style: normal;
}

.body-sm_gs{
    font-family: "helvetica-neue-lt-pro", sans-serif; 
    font-size: 14px;
    line-height: 20px;
    font-weight: 400; 
    font-style: normal;
}

.caption_gs{
    font-family: "helvetica-neue-lt-pro", sans-serif; 
    font-size: 12px;
    line-height: 18px;
    font-weight: 400; 
    font-style: normal;
}

.link-xl_gs{
    font-family: "helvetica-neue-lt-pro", sans-serif; 
    font-size: 18px;
    font-weight: 400; 
    font-style: normal;
}

.link-lg_gs{
    font-family: "helvetica-neue-lt-pro", sans-serif; 
    font-size: 16px;
    font-weight: 400; 
    font-style: normal;
}

.link-md_gs{
    font-family: "helvetica-neue-lt-pro", sans-serif; 
    font-size: 14px;
    font-weight: 400; 
    font-style: normal;
}

.link-sm_gs{
    font-family: "helvetica-neue-lt-pro", sans-serif; 
    font-size: 12px;
    font-weight: 400; 
    font-style: normal;
}

.menu-lg_gs{
    font-family: "helvetica-neue-lt-pro", sans-serif; 
    font-size: 32px;
    line-height: 38px;
    font-weight: 400; 
    font-style: normal;
}

.menu-md_gs{
    font-family: "helvetica-neue-lt-pro", sans-serif; 
    font-size: 24px;
    line-height: 30px;
    font-weight: 400; 
    font-style: normal;
}

.menu-sm_gs{
    font-family: "helvetica-neue-lt-pro", sans-serif; 
    font-size: 18px;
    line-height: 24px;
    font-weight: 400; 
    font-style: normal;
}

.menu-xs_gs{
    font-family: "helvetica-neue-lt-pro", sans-serif; 
    font-size: 16px;
    line-height: 22px;
    font-weight: 400; 
    font-style: normal;
}

.menu-model_gs{
    font-family: "helvetica-neue-lt-pro", sans-serif; 
    font-size: 24px;
    line-height: 24px;
    font-weight: 400; 
    font-style: normal;
}

.md\:title_gs{
    @media (width >= 48rem) {
    font-family: "roc-grotesk", sans-serif; 
    font-size: 56px;
    line-height: 60px;
    font-weight: 500; 
    font-style: normal;
    text-transform: uppercase;
    }
}

.md\:heading-lg_gs{
    @media (width >= 48rem) {
    font-family: "roc-grotesk", sans-serif; 
    font-size: 48px;
    line-height: 52px;
    font-weight: 500; 
    font-style: normal;
    text-transform: uppercase;
    }
}

.md\:quote-lg_gs{
    @media (width >= 48rem) {
    font-family: "roc-grotesk", sans-serif; 
    font-size: 48px;
    line-height: 52px;
    font-weight: 500; 
    font-style: normal;
    }
}

.md\:heading-md_gs{
    @media (width >= 48rem) {
    font-family: "roc-grotesk", sans-serif; 
    font-size: 32px;
    line-height: 36px;
    font-weight: 500; 
    font-style: normal;
    text-transform: uppercase;
    }
}

.md\:quote-md_gs{
    @media (width >= 48rem) {
    font-family: "roc-grotesk", sans-serif; 
    font-size: 32px;
    line-height: 36px;
    font-weight: 500; 
    font-style: normal;
    }
}

.md\:heading-sm_gs{
    @media (width >= 48rem) {
    font-family: "roc-grotesk", sans-serif; 
    font-size: 24px;
    line-height: 28px;
    font-weight: 500; 
    font-style: normal;
    text-transform: uppercase;
    }
}

.md\:quote-sm_gs{
    @media (width >= 48rem) {
    font-family: "roc-grotesk", sans-serif; 
    font-size: 24px;
    line-height: 28px;
    font-weight: 500; 
    font-style: normal;
    }
}

.md\:subtitle_gs{
    @media (width >= 48rem) {
    font-family: "roc-grotesk", sans-serif; 
    font-size: 18px;
    line-height: 22px;
    font-weight: 500; 
    font-style: normal;
    text-transform: uppercase;
    }
}

.md\:subtitle-rg_gs{
    @media (width >= 48rem) {
    font-family: "roc-grotesk", sans-serif; 
    font-size: 18px;
    line-height: 22px;
    font-weight: 400; 
    font-style: normal;
    text-transform: uppercase;
    }
}

.md\:pretitle-lg_gs{
    @media (width >= 48rem) {
    font-family: "helvetica-neue-lt-pro", sans-serif; 
    font-size: 18px;
    line-height: 24px;
    font-weight: 500; 
    font-style: normal;
    text-transform: uppercase;
    }
}

.md\:pretitle-md_gs{
    @media (width >= 48rem) {
    font-family: "helvetica-neue-lt-pro", sans-serif; 
    font-size: 16px;
    line-height: 22px;
    font-weight: 500; 
    font-style: normal;
    text-transform: uppercase;
    }
}

.md\:pretitle-sm_gs{
    @media (width >= 48rem) {
    font-family: "helvetica-neue-lt-pro", sans-serif; 
    font-size: 14px;
    line-height: 20px;
    font-weight: 500; 
    font-style: normal;
    text-transform: uppercase;
    }
}

.md\:pretitle-xs_gs{
    @media (width >= 48rem) {
    font-family: "helvetica-neue-lt-pro", sans-serif; 
    font-size: 12px;
    line-height: 18px;
    font-weight: 500; 
    font-style: normal;
    text-transform: uppercase;
    }
}

.md\:body-lg_gs{
    @media (width >= 48rem) {
    font-family: "helvetica-neue-lt-pro", sans-serif; 
    font-size: 18px;
    line-height: 24px;
    font-weight: 400; 
    font-style: normal;
    }
}

.md\:body-md_gs{
    @media (width >= 48rem) {
    font-family: "helvetica-neue-lt-pro", sans-serif; 
    font-size: 16px;
    line-height: 22px;
    font-weight: 400; 
    font-style: normal;
    }
}

.md\:body-sm_gs{
    @media (width >= 48rem) {
    font-family: "helvetica-neue-lt-pro", sans-serif; 
    font-size: 14px;
    line-height: 20px;
    font-weight: 400; 
    font-style: normal;
    }
}

.md\:caption_gs{
    @media (width >= 48rem) {
    font-family: "helvetica-neue-lt-pro", sans-serif; 
    font-size: 12px;
    line-height: 18px;
    font-weight: 400; 
    font-style: normal;
    }
}

.md\:link-xl_gs{
    @media (width >= 48rem) {
    font-family: "helvetica-neue-lt-pro", sans-serif; 
    font-size: 18px;
    font-weight: 400; 
    font-style: normal;
    }
}

.md\:link-lg_gs{
    @media (width >= 48rem) {
    font-family: "helvetica-neue-lt-pro", sans-serif; 
    font-size: 16px;
    font-weight: 400; 
    font-style: normal;
    }
}

.md\:link-md_gs{
    @media (width >= 48rem) {
    font-family: "helvetica-neue-lt-pro", sans-serif; 
    font-size: 14px;
    font-weight: 400; 
    font-style: normal;
    }
}

.md\:link-sm_gs{
    @media (width >= 48rem) {
    font-family: "helvetica-neue-lt-pro", sans-serif; 
    font-size: 12px;
    font-weight: 400; 
    font-style: normal;
    }
}

.md\:menu-lg_gs{
    @media (width >= 48rem) {
    font-family: "helvetica-neue-lt-pro", sans-serif; 
    font-size: 32px;
    line-height: 38px;
    font-weight: 400; 
    font-style: normal;
    }
}

.md\:menu-md_gs{
    @media (width >= 48rem) {
    font-family: "helvetica-neue-lt-pro", sans-serif; 
    font-size: 24px;
    line-height: 30px;
    font-weight: 400; 
    font-style: normal;
    }
}

.md\:menu-sm_gs{
    @media (width >= 48rem) {
    font-family: "helvetica-neue-lt-pro", sans-serif; 
    font-size: 18px;
    line-height: 24px;
    font-weight: 400; 
    font-style: normal;
    }
}

.md\:menu-xs_gs{
    @media (width >= 48rem) {
    font-family: "helvetica-neue-lt-pro", sans-serif; 
    font-size: 16px;
    line-height: 22px;
    font-weight: 400; 
    font-style: normal;
    }
}

.md\:menu-model_gs{
    @media (width >= 48rem) {
    font-family: "helvetica-neue-lt-pro", sans-serif; 
    font-size: 24px;
    line-height: 24px;
    font-weight: 400; 
    font-style: normal;
    }
}

.lg\:title_gs{
    @media (width >= 64rem) {
    font-family: "roc-grotesk", sans-serif; 
    font-size: 56px;
    line-height: 60px;
    font-weight: 500; 
    font-style: normal;
    text-transform: uppercase;
    }
}

.lg\:heading-lg_gs{
    @media (width >= 64rem) {
    font-family: "roc-grotesk", sans-serif; 
    font-size: 48px;
    line-height: 52px;
    font-weight: 500; 
    font-style: normal;
    text-transform: uppercase;
    }
}

.lg\:quote-lg_gs{
    @media (width >= 64rem) {
    font-family: "roc-grotesk", sans-serif; 
    font-size: 48px;
    line-height: 52px;
    font-weight: 500; 
    font-style: normal;
    }
}

.lg\:heading-md_gs{
    @media (width >= 64rem) {
    font-family: "roc-grotesk", sans-serif; 
    font-size: 32px;
    line-height: 36px;
    font-weight: 500; 
    font-style: normal;
    text-transform: uppercase;
    }
}

.lg\:quote-md_gs{
    @media (width >= 64rem) {
    font-family: "roc-grotesk", sans-serif; 
    font-size: 32px;
    line-height: 36px;
    font-weight: 500; 
    font-style: normal;
    }
}

.lg\:heading-sm_gs{
    @media (width >= 64rem) {
    font-family: "roc-grotesk", sans-serif; 
    font-size: 24px;
    line-height: 28px;
    font-weight: 500; 
    font-style: normal;
    text-transform: uppercase;
    }
}

.lg\:quote-sm_gs{
    @media (width >= 64rem) {
    font-family: "roc-grotesk", sans-serif; 
    font-size: 24px;
    line-height: 28px;
    font-weight: 500; 
    font-style: normal;
    }
}

.lg\:subtitle_gs{
    @media (width >= 64rem) {
    font-family: "roc-grotesk", sans-serif; 
    font-size: 18px;
    line-height: 22px;
    font-weight: 500; 
    font-style: normal;
    text-transform: uppercase;
    }
}

.lg\:subtitle-rg_gs{
    @media (width >= 64rem) {
    font-family: "roc-grotesk", sans-serif; 
    font-size: 18px;
    line-height: 22px;
    font-weight: 400; 
    font-style: normal;
    text-transform: uppercase;
    }
}

.lg\:pretitle-lg_gs{
    @media (width >= 64rem) {
    font-family: "helvetica-neue-lt-pro", sans-serif; 
    font-size: 18px;
    line-height: 24px;
    font-weight: 500; 
    font-style: normal;
    text-transform: uppercase;
    }
}

.lg\:pretitle-md_gs{
    @media (width >= 64rem) {
    font-family: "helvetica-neue-lt-pro", sans-serif; 
    font-size: 16px;
    line-height: 22px;
    font-weight: 500; 
    font-style: normal;
    text-transform: uppercase;
    }
}

.lg\:pretitle-sm_gs{
    @media (width >= 64rem) {
    font-family: "helvetica-neue-lt-pro", sans-serif; 
    font-size: 14px;
    line-height: 20px;
    font-weight: 500; 
    font-style: normal;
    text-transform: uppercase;
    }
}

.lg\:pretitle-xs_gs{
    @media (width >= 64rem) {
    font-family: "helvetica-neue-lt-pro", sans-serif; 
    font-size: 12px;
    line-height: 18px;
    font-weight: 500; 
    font-style: normal;
    text-transform: uppercase;
    }
}

.lg\:body-lg_gs{
    @media (width >= 64rem) {
    font-family: "helvetica-neue-lt-pro", sans-serif; 
    font-size: 18px;
    line-height: 24px;
    font-weight: 400; 
    font-style: normal;
    }
}

.lg\:body-md_gs{
    @media (width >= 64rem) {
    font-family: "helvetica-neue-lt-pro", sans-serif; 
    font-size: 16px;
    line-height: 22px;
    font-weight: 400; 
    font-style: normal;
    }
}

.lg\:body-sm_gs{
    @media (width >= 64rem) {
    font-family: "helvetica-neue-lt-pro", sans-serif; 
    font-size: 14px;
    line-height: 20px;
    font-weight: 400; 
    font-style: normal;
    }
}

.lg\:caption_gs{
    @media (width >= 64rem) {
    font-family: "helvetica-neue-lt-pro", sans-serif; 
    font-size: 12px;
    line-height: 18px;
    font-weight: 400; 
    font-style: normal;
    }
}

.lg\:link-xl_gs{
    @media (width >= 64rem) {
    font-family: "helvetica-neue-lt-pro", sans-serif; 
    font-size: 18px;
    font-weight: 400; 
    font-style: normal;
    }
}

.lg\:link-lg_gs{
    @media (width >= 64rem) {
    font-family: "helvetica-neue-lt-pro", sans-serif; 
    font-size: 16px;
    font-weight: 400; 
    font-style: normal;
    }
}

.lg\:link-md_gs{
    @media (width >= 64rem) {
    font-family: "helvetica-neue-lt-pro", sans-serif; 
    font-size: 14px;
    font-weight: 400; 
    font-style: normal;
    }
}

.lg\:link-sm_gs{
    @media (width >= 64rem) {
    font-family: "helvetica-neue-lt-pro", sans-serif; 
    font-size: 12px;
    font-weight: 400; 
    font-style: normal;
    }
}

.lg\:menu-lg_gs{
    @media (width >= 64rem) {
    font-family: "helvetica-neue-lt-pro", sans-serif; 
    font-size: 32px;
    line-height: 38px;
    font-weight: 400; 
    font-style: normal;
    }
}

.lg\:menu-md_gs{
    @media (width >= 64rem) {
    font-family: "helvetica-neue-lt-pro", sans-serif; 
    font-size: 24px;
    line-height: 30px;
    font-weight: 400; 
    font-style: normal;
    }
}

.lg\:menu-sm_gs{
    @media (width >= 64rem) {
    font-family: "helvetica-neue-lt-pro", sans-serif; 
    font-size: 18px;
    line-height: 24px;
    font-weight: 400; 
    font-style: normal;
    }
}

.lg\:menu-xs_gs{
    @media (width >= 64rem) {
    font-family: "helvetica-neue-lt-pro", sans-serif; 
    font-size: 16px;
    line-height: 22px;
    font-weight: 400; 
    font-style: normal;
    }
}

.lg\:menu-model_gs{
    @media (width >= 64rem) {
    font-family: "helvetica-neue-lt-pro", sans-serif; 
    font-size: 24px;
    line-height: 24px;
    font-weight: 400; 
    font-style: normal;
    }
}

.group-hover\:cta-hover_dual-entrance {
    &:is(:where(.group):hover *) {
    @media (hover: hover) {
        border-radius: 50px;
        border: 0.5px solid var(--GS-Stroke-Stroke, rgba(235, 239, 242, 0.64));
        background: var(--gs-blur-gs-blur-dark-70, rgba(16, 28, 38, 0.70));
        backdrop-filter: blur(48px);
        color: #EBEFF2;
        }
    }
}

.cta_dual-entrance{
    border-radius: 50px;
    border: 0.5px solid var(--GS-Stroke-Stroke, rgba(235, 239, 242, 0.64));
    background: var(--gs-blur-gs-blur-light-80, rgba(235, 239, 242, 0.80));
    backdrop-filter: blur(48px);
    color: #05090D;
}

.play-pause{
    border-radius: 50px;
    border: 0.5px solid var(--GS-Stroke-Stroke, rgba(235, 239, 242, 0.64));
    background: var(--gs-blur-gs-blur-dark-70, rgba(16, 28, 38, 0.70));
    backdrop-filter: blur(48px);
}

.bg_gs{
    background: #101C26;
}

.bg-truffle_gs{
    background: #282624;
}

.text-blue_gs{
    color:  #4DBAFA;
}

.cta-border-light_gs{
    border-radius: 50px;
    border: 0.5px solid #EBEFF2;
    color: #EBEFF2;
}

.cta-border-dark_gs{
    border-radius: 50px;
    border: 0.5px solid #05090D;
    color: #05090D;
}

.cta-blue_gs{
    border-radius: 50px;
    border: 0.5px solid var(--GS-Stroke-Stroke, rgba(235, 239, 242, 0.64));
    background:  #4DBAFA;
    color:#05090D;
}

.cta-blur_gs{
    border-radius: 50px;
    border: 0.5px solid var(--GS-Stroke-Stroke, rgba(235, 239, 242, 0.64));
    background: var(--gs-blur-gs-blur-dark-70, rgba(16, 28, 38, 0.70));
    backdrop-filter: blur(48px);
    color: #EBEFF2;
}

.cta-101C26_gs{
    border-radius: 50px;
    border: 0.5px solid var(--GS-Stroke-Stroke, rgba(235, 239, 242, 0.64));
    background: var(--GS-Primary-Mirage, #101C26);
    color: #EBEFF2;
}

.text-05090D_gs{
color:#05090D;
}

.cta-dark_gs{
    border-radius: 50px;
    background: #05090D;
    color: #EBEFF2;
}

.text-color_gs{
color:#EBEFF2;
}

.bg-EBEFF2_gs{
background-color:#EBEFF2;
}

.bg-dark_gs{
    border-radius: 16px;
    border: 0.5px solid var(--GS-Stroke-Stroke, rgba(235, 239, 242, 0.64));
    background: var(--GS-Shades-Bunker, #0B1319);
}

.bg-white_gs{
    background: #EBEFF2;
}

.reveal-container {
  display: flex;
  flex-wrap: wrap;
  column-gap: 0.25em;
  row-gap: 0.15em;
  line-height: 1.4;
  align-items: flex-start;
}

.reveal-word {
  position: relative;
  display: inline-block;
  /* Colore base spento richiesto */
  color: rgba(235, 239, 242, 0.40);
  transition: color 0.4s ease;
}

/* Quando la parola è "attiva", diventa bianca */
.reveal-word.active {
  color: #ffffff;
}

/* Ottimizzazione per mobile */
@media (max-width: 768px) {
  .reveal-container {
    column-gap: 0.2em;
  }
}

.stepper-hero_gs{
    border-radius: 50px;
    background: var(--gs-blur-gs-blur-dark-70, rgba(16, 28, 38, 0.70));
    backdrop-filter: blur(48px);
}

.hidden_gsp{
    display: none
}

.view_gs{
    display: block;
}