@import "tailwindcss";

.title_gsp{
     font-family: "Geist", sans-serif;
    font-size: 56px;
    line-height: 62px;
    font-weight: 300; 
    font-style: normal;
    text-transform: uppercase;
}

.heading-lg_gsp{
     font-family: "Geist", sans-serif;
    font-size: 48px;
    line-height: 54px;
    font-weight: 300; 
    font-style: normal;
    text-transform: uppercase;
}

.quote-lg_gsp{
     font-family: "Geist", sans-serif;
    font-size: 48px;
    line-height: 54px;
    font-weight: 300; 
    font-style: normal;
}

.heading-md_gsp{
     font-family: "Geist", sans-serif;
    font-size: 32px;
    line-height: 38px;
    font-weight: 300; 
    font-style: normal;
    text-transform: uppercase;
}

.quote-md_gsp{
     font-family: "Geist", sans-serif;
    font-size: 32px;
    line-height: 38px;
    font-weight: 300; 
    font-style: normal;
}

.heading-sm_gsp{
     font-family: "Geist", sans-serif;
    font-size: 24px;
    line-height: 30px;
    font-weight: 300; 
    font-style: normal;
    text-transform: uppercase;
}

.quote-sm_gsp{
     font-family: "Geist", sans-serif;
    font-size: 24px;
    line-height: 30px;
    font-weight: 300; 
    font-style: normal;
}

.subtitle_gsp{
     font-family: "Geist", sans-serif;
    font-size: 18px;
    line-height: 24px;
    font-weight: 300; 
    font-style: normal;
    text-transform: uppercase;
}

.subtitle-rg_gsp{
     font-family: "Geist", sans-serif;
    font-size: 18px;
    line-height: 24px;
    font-weight: 400; 
    font-style: normal;
    text-transform: uppercase;
}

.pretitle-lg_gsp{
    font-family: "helvetica-neue-lt-pro", sans-serif; 
    font-size: 18px;
    line-height: 24px;
    font-weight: 500; 
    font-style: normal;
    text-transform: uppercase;
}

.pretitle-md_gsp{
    font-family: "helvetica-neue-lt-pro", sans-serif; 
    font-size: 16px;
    line-height: 22px;
    font-weight: 500; 
    font-style: normal;
    text-transform: uppercase;
}

.pretitle-sm_gsp{
    font-family: "helvetica-neue-lt-pro", sans-serif; 
    font-size: 14px;
    line-height: 20px;
    font-weight: 500; 
    font-style: normal;
    text-transform: uppercase;
}

.pretitle-xs_gsp{
    font-family: "helvetica-neue-lt-pro", sans-serif; 
    font-size: 12px;
    line-height: 18px;
    font-weight: 500; 
    font-style: normal;
    text-transform: uppercase;
}

.body-lg_gsp{
    font-family: "helvetica-neue-lt-pro", sans-serif; 
    font-size: 18px;
    line-height: 24px;
    font-weight: 400; 
    font-style: normal;
}

.body-md_gsp{
    font-family: "helvetica-neue-lt-pro", sans-serif; 
    font-size: 16px;
    line-height: 22px;
    font-weight: 400; 
    font-style: normal;
}

.body-sm_gsp{
    font-family: "helvetica-neue-lt-pro", sans-serif; 
    font-size: 14px;
    line-height: 20px;
    font-weight: 400; 
    font-style: normal;
}

.caption_gsp{
    font-family: "helvetica-neue-lt-pro", sans-serif; 
    font-size: 12px;
    line-height: 18px;
    font-weight: 400; 
    font-style: normal;
}

.link-xl_gsp{
    font-family: "helvetica-neue-lt-pro", sans-serif; 
    font-size: 18px;
    font-weight: 400; 
    font-style: normal;
    line-height: 1;
}

.link-lg_gsp{
    font-family: "helvetica-neue-lt-pro", sans-serif; 
    font-size: 16px;
    font-weight: 400; 
    font-style: normal;
    line-height: 1;
}

.link-md_gsp{
    font-family: "helvetica-neue-lt-pro", sans-serif; 
    font-size: 14px;
    font-weight: 400; 
    font-style: normal;
    line-height: 1;
}

.link-sm_gsp{
    font-family: "helvetica-neue-lt-pro", sans-serif; 
    font-size: 12px;
    font-weight: 400; 
    font-style: normal;
    line-height: 1;
}

.menu-lg_gsp{
    font-family: "helvetica-neue-lt-pro", sans-serif; 
    font-size: 32px;
    line-height: 38px;
    font-weight: 400; 
    font-style: normal;
}

.menu-md_gsp{
    font-family: "helvetica-neue-lt-pro", sans-serif; 
    font-size: 24px;
    line-height: 30px;
    font-weight: 400; 
    font-style: normal;
}

.menu-sm_gsp{
    font-family: "helvetica-neue-lt-pro", sans-serif; 
    font-size: 18px;
    line-height: 24px;
    font-weight: 400; 
    font-style: normal;
}

.menu-xs_gsp{
    font-family: "helvetica-neue-lt-pro", sans-serif; 
    font-size: 16px;
    line-height: 22px;
    font-weight: 500; 
    font-style: normal;
}

.menu-model_gsp{
    font-family: "helvetica-neue-lt-pro", sans-serif; 
    font-size: 24px;
    line-height: 24px;
    font-weight: 400; 
    font-style: normal;
}

.md\:title_gsp{
    @media (width >= 48rem) {
     font-family: "Geist", sans-serif;
    font-size: 56px;
    line-height: 62px;
    font-weight: 300; 
    font-style: normal;
    text-transform: uppercase;
    }
}

.md\:heading-lg_gsp{
    @media (width >= 48rem) {
     font-family: "Geist", sans-serif;
    font-size: 48px;
    line-height: 54px;
    font-weight: 300; 
    font-style: normal;
    text-transform: uppercase;
    }
}

.md\:quote-lg_gsp{
    @media (width >= 48rem) {
     font-family: "Geist", sans-serif;
    font-size: 48px;
    line-height: 54px;
    font-weight: 300; 
    font-style: normal;
    }
}

.md\:heading-md_gsp{
    @media (width >= 48rem) {
     font-family: "Geist", sans-serif;
    font-size: 32px;
    line-height: 38px;
    font-weight: 300; 
    font-style: normal;
    text-transform: uppercase;
    }
}

.md\:quote-md_gsp{
    @media (width >= 48rem) {
     font-family: "Geist", sans-serif;
    font-size: 32px;
    line-height: 38px;
    font-weight: 300; 
    font-style: normal;
    }
}

.md\:heading-sm_gsp{
    @media (width >= 48rem) {
     font-family: "Geist", sans-serif;
    font-size: 24px;
    line-height: 30px;
    font-weight: 300; 
    font-style: normal;
    text-transform: uppercase;
    }
}

.md\:quote-sm_gsp{
    @media (width >= 48rem) {
     font-family: "Geist", sans-serif;
    font-size: 24px;
    line-height: 30px;
    font-weight: 300; 
    font-style: normal;
    }
}

.md\:subtitle_gsp{
    @media (width >= 48rem) {
     font-family: "Geist", sans-serif;
    font-size: 18px;
    line-height: 24px;
    font-weight: 300; 
    font-style: normal;
    text-transform: uppercase;
    }
}

.md\:subtitle-rg_gsp{
    @media (width >= 48rem) {
     font-family: "Geist", sans-serif;
    font-size: 18px;
    line-height: 24px;
    font-weight: 400; 
    font-style: normal;
    text-transform: uppercase;
    }
}

.md\:pretitle-lg_gsp{
    @media (width >= 48rem) {
    font-family: "helvetica-neue-lt-pro", sans-serif; 
    font-size: 18px;
    line-height: 24px;
    font-weight: 500; 
    font-style: normal;
    text-transform: uppercase;
    }
}

.md\:pretitle-md_gsp{
    @media (width >= 48rem) {
    font-family: "helvetica-neue-lt-pro", sans-serif; 
    font-size: 16px;
    line-height: 22px;
    font-weight: 500; 
    font-style: normal;
    text-transform: uppercase;
    }
}

.md\:pretitle-sm_gsp{
    @media (width >= 48rem) {
    font-family: "helvetica-neue-lt-pro", sans-serif; 
    font-size: 14px;
    line-height: 20px;
    font-weight: 500; 
    font-style: normal;
    text-transform: uppercase;
    }
}

.md\:pretitle-xs_gsp{
    @media (width >= 48rem) {
    font-family: "helvetica-neue-lt-pro", sans-serif; 
    font-size: 12px;
    line-height: 18px;
    font-weight: 500; 
    font-style: normal;
    text-transform: uppercase;
    }
}

.md\:body-lg_gsp{
    @media (width >= 48rem) {
    font-family: "helvetica-neue-lt-pro", sans-serif; 
    font-size: 18px;
    line-height: 24px;
    font-weight: 400; 
    font-style: normal;
    }
}

.md\:body-md_gsp{
    @media (width >= 48rem) {
    font-family: "helvetica-neue-lt-pro", sans-serif; 
    font-size: 16px;
    line-height: 22px;
    font-weight: 400; 
    font-style: normal;
    }
}

.md\:body-sm_gsp{
    @media (width >= 48rem) {
    font-family: "helvetica-neue-lt-pro", sans-serif; 
    font-size: 14px;
    line-height: 20px;
    font-weight: 400; 
    font-style: normal;
    }
}

.md\:caption_gsp{
    @media (width >= 48rem) {
    font-family: "helvetica-neue-lt-pro", sans-serif; 
    font-size: 12px;
    line-height: 18px;
    font-weight: 400; 
    font-style: normal;
    }
}

.md\:link-xl_gsp{
    @media (width >= 48rem) {
    font-family: "helvetica-neue-lt-pro", sans-serif; 
    font-size: 18px;
    font-weight: 400; 
    font-style: normal;
    line-height: 1;
    }
}

.md\:link-lg_gsp{
    @media (width >= 48rem) {
    font-family: "helvetica-neue-lt-pro", sans-serif; 
    font-size: 16px;
    font-weight: 400; 
    font-style: normal;
    line-height: 1;
    }
}

.md\:link-md_gsp{
    @media (width >= 48rem) {
    font-family: "helvetica-neue-lt-pro", sans-serif; 
    font-size: 14px;
    font-weight: 400; 
    font-style: normal;
    line-height: 1;
    }
}

.md\:link-sm_gsp{
    @media (width >= 48rem) {
    font-family: "helvetica-neue-lt-pro", sans-serif; 
    font-size: 12px;
    font-weight: 400; 
    font-style: normal;
    line-height: 1;
    }
}

.md\:menu-lg_gsp{
    @media (width >= 48rem) {
    font-family: "helvetica-neue-lt-pro", sans-serif; 
    font-size: 32px;
    line-height: 38px;
    font-weight: 400; 
    font-style: normal;
    }
}

.md\:menu-md_gsp{
    @media (width >= 48rem) {
    font-family: "helvetica-neue-lt-pro", sans-serif; 
    font-size: 24px;
    line-height: 30px;
    font-weight: 400; 
    font-style: normal;
    }
}

.md\:menu-sm_gsp{
    @media (width >= 48rem) {
    font-family: "helvetica-neue-lt-pro", sans-serif; 
    font-size: 18px;
    line-height: 24px;
    font-weight: 400; 
    font-style: normal;
    }
}

.md\:menu-xs_gsp{
    @media (width >= 48rem) {
    font-family: "helvetica-neue-lt-pro", sans-serif; 
    font-size: 16px;
    line-height: 22px;
    font-weight: 500; 
    font-style: normal;
    }
}

.md\:menu-model_gsp{
    @media (width >= 48rem) {
    font-family: "helvetica-neue-lt-pro", sans-serif; 
    font-size: 24px;
    line-height: 24px;
    font-weight: 500; 
    font-style: normal;
    }
}

.lg\:title_gsp{
    @media (width >= 64rem) {
     font-family: "Geist", sans-serif;
    font-size: 56px;
    line-height: 62px;
    font-weight: 300; 
    font-style: normal;
    text-transform: uppercase;
    }
}

.lg\:heading-lg_gsp{
    @media (width >= 64rem) {
     font-family: "Geist", sans-serif;
    font-size: 48px;
    line-height: 54px;
    font-weight: 300; 
    font-style: normal;
    text-transform: uppercase;
    }
}

.lg\:quote-lg_gsp{
    @media (width >= 64rem) {
     font-family: "Geist", sans-serif;
    font-size: 48px;
    line-height: 54px;
    font-weight: 300; 
    font-style: normal;
    }
}

.lg\:heading-md_gsp{
    @media (width >= 64rem) {
     font-family: "Geist", sans-serif;
    font-size: 32px;
    line-height: 38px;
    font-weight: 300; 
    font-style: normal;
    text-transform: uppercase;
    }
}

.lg\:quote-md_gsp{
    @media (width >= 64rem) {
     font-family: "Geist", sans-serif;
    font-size: 32px;
    line-height: 38px;
    font-weight: 300; 
    font-style: normal;
    }
}

.lg\:heading-sm_gsp{
    @media (width >= 64rem) {
     font-family: "Geist", sans-serif;
    font-size: 24px;
    line-height: 30px;
    font-weight: 300; 
    font-style: normal;
    text-transform: uppercase;
    }
}

.lg\:quote-sm_gsp{
    @media (width >= 64rem) {
     font-family: "Geist", sans-serif;
    font-size: 24px;
    line-height: 30px;
    font-weight: 300; 
    font-style: normal;
    }
}

.lg\:subtitle_gsp{
    @media (width >= 64rem) {
     font-family: "Geist", sans-serif;
    font-size: 18px;
    line-height: 24px;
    font-weight: 300; 
    font-style: normal;
    text-transform: uppercase;
    }
}

.lg\:subtitle-rg_gsp{
    @media (width >= 64rem) {
     font-family: "Geist", sans-serif;
    font-size: 18px;
    line-height: 24px;
    font-weight: 400; 
    font-style: normal;
    text-transform: uppercase;
    }
}

.lg\:pretitle-lg_gsp{
    @media (width >= 64rem) {
    font-family: "helvetica-neue-lt-pro", sans-serif; 
    font-size: 18px;
    line-height: 24px;
    font-weight: 500; 
    font-style: normal;
    text-transform: uppercase;
    }
}

.lg\:pretitle-md_gsp{
    @media (width >= 64rem) {
    font-family: "helvetica-neue-lt-pro", sans-serif; 
    font-size: 16px;
    line-height: 22px;
    font-weight: 500; 
    font-style: normal;
    text-transform: uppercase;
    }
}

.lg\:pretitle-sm_gsp{
    @media (width >= 64rem) {
    font-family: "helvetica-neue-lt-pro", sans-serif; 
    font-size: 14px;
    line-height: 20px;
    font-weight: 500; 
    font-style: normal;
    text-transform: uppercase;
    }
}

.lg\:pretitle-xs_gsp{
    @media (width >= 64rem) {
    font-family: "helvetica-neue-lt-pro", sans-serif; 
    font-size: 12px;
    line-height: 18px;
    font-weight: 500; 
    font-style: normal;
    text-transform: uppercase;
    }
}

.lg\:body-lg_gsp{
    @media (width >= 64rem) {
    font-family: "helvetica-neue-lt-pro", sans-serif; 
    font-size: 18px;
    line-height: 24px;
    font-weight: 400; 
    font-style: normal;
    }
}

.lg\:body-md_gsp{
    @media (width >= 64rem) {
    font-family: "helvetica-neue-lt-pro", sans-serif; 
    font-size: 16px;
    line-height: 22px;
    font-weight: 400; 
    font-style: normal;
    }
}

.lg\:body-sm_gsp{
    @media (width >= 64rem) {
    font-family: "helvetica-neue-lt-pro", sans-serif; 
    font-size: 14px;
    line-height: 20px;
    font-weight: 400; 
    font-style: normal;
    }
}

.lg\:caption_gsp{
    @media (width >= 64rem) {
    font-family: "helvetica-neue-lt-pro", sans-serif; 
    font-size: 12px;
    line-height: 18px;
    font-weight: 400; 
    font-style: normal;
    }
}

.lg\:link-xl_gsp{
    @media (width >= 64rem) {
    font-family: "helvetica-neue-lt-pro", sans-serif; 
    font-size: 18px;
    font-weight: 400; 
    font-style: normal;
    line-height: 1;
    }
}

.lg\:link-lg_gsp{
    @media (width >= 64rem) {
    font-family: "helvetica-neue-lt-pro", sans-serif; 
    font-size: 16px;
    font-weight: 400; 
    font-style: normal;
    line-height: 1;
    }
}

.lg\:link-md_gsp{
    @media (width >= 64rem) {
    font-family: "helvetica-neue-lt-pro", sans-serif; 
    font-size: 14px;
    font-weight: 400; 
    font-style: normal;
    line-height: 1;
    }
}

.lg\:link-sm_gsp{
    @media (width >= 64rem) {
    font-family: "helvetica-neue-lt-pro", sans-serif; 
    font-size: 12px;
    font-weight: 400; 
    font-style: normal;
    line-height: 1;
    }
}

.lg\:menu-lg_gsp{
    @media (width >= 64rem) {
    font-family: "helvetica-neue-lt-pro", sans-serif; 
    font-size: 32px;
    line-height: 38px;
    font-weight: 400; 
    font-style: normal;
    }
}

.lg\:menu-md_gsp{
    @media (width >= 64rem) {
    font-family: "helvetica-neue-lt-pro", sans-serif; 
    font-size: 24px;
    line-height: 30px;
    font-weight: 400; 
    font-style: normal;
    }
}

.lg\:menu-sm_gsp{
    @media (width >= 64rem) {
    font-family: "helvetica-neue-lt-pro", sans-serif; 
    font-size: 18px;
    line-height: 24px;
    font-weight: 400; 
    font-style: normal;
    }
}

.lg\:menu-xs_gsp{
    @media (width >= 64rem) {
    font-family: "helvetica-neue-lt-pro", sans-serif; 
    font-size: 16px;
    line-height: 22px;
    font-weight: 500; 
    font-style: normal;
    }
}

.lg\:menu-model_gsp{
    @media (width >= 64rem) {
    font-family: "helvetica-neue-lt-pro", sans-serif; 
    font-size: 24px;
    line-height: 24px;
    font-weight: 500; 
    font-style: normal;
    }
}

.group-hover\:cta-hover_dual-entrance {
    &:is(:where(.group):hover *) {
    @media (hover: hover) {
        border-radius: 50px;
        border: 0.5px solid var(--gsp-Stroke-Stroke, rgba(235, 239, 242, 0.64));
        background: var(--gsp-blur-gsp-blur-dark-70, rgba(16, 28, 38, 0.70));
        backdrop-filter: blur(48px);
        color: #EBEFF2;
        }
    }
}

.cta_dual-entrance{
    border-radius: 50px;
    border: 0.5px solid var(--gsp-Stroke-Stroke, rgba(235, 239, 242, 0.64));
    background: var(--gsp-blur-gsp-blur-light-80, rgba(235, 239, 242, 0.80));
    backdrop-filter: blur(48px);
    color: #05090D;
}

.play-pause{
    border-radius: 50px;
    border: 0.5px solid var(--gsp-Stroke-Stroke, rgba(235, 239, 242, 0.64));
    background: var(--gsp-blur-gsp-blur-dark-70, rgba(16, 28, 38, 0.70));
    backdrop-filter: blur(48px);
}

.bg_gsp{
    background: #FAF9F7;
}

.cta-border-dark_gsp{
    border-radius: 50px;
    border: 0.5px solid #141312;
    color: #141312;
}

.cta-border-light_gsp{
    border-radius: 50px;
    border: 0.5px solid #FAF9F7;
    color: #EBEFF2;
}

.cta-truffle_gsp{
    border-radius: 50px;
    border: 0.5px solid var(--gs-stroke-stroke, rgba(201, 191, 178, 0.72));
    background: #282624;
    color: #FAF9F7;
}

.cta-blur-light_gsp{
    border-radius: 50px;
    border: 0.5px solid var(--gs-stroke-stroke, rgba(201, 191, 178, 0.72));
    background: var(--gs-blur-gs-blur-light-70, rgba(235, 239, 242, 0.70));
    backdrop-filter: blur(48px);
    color: #141312;
}

.cta-blur-dark_gsp{
    border-radius: 50px;
    border: 0.5px solid var(--gsp-Stroke-Stroke, rgba(235, 239, 242, 0.64));
    background: var(--gsp-blur-gsp-blur-dark-70, rgba(16, 28, 38, 0.70));
    backdrop-filter: blur(48px);
    color: #EBEFF2;
}

.cta-white_gsp{
    border-radius: 50px;
    border: 0.5px solid var(--gs-stroke-stroke, rgba(201, 191, 178, 0.72));
    background: #FAF9F7;
    color:#141312;
}

.text-color_gsp{
color:#141312;
}

.text-truffle_gsp{
color:#282624;
}

.text-FAF9F7_gsp{
color:#FAF9F7;
}

.text-EBEFF2_gsp{
color:#EBEFF2;
}

.bg-beige_gsp{
    border-radius: 16px;
    border: 0.5px solid var(--gs-stroke-stroke, rgba(201, 191, 178, 0.72));
    background: #D4CCC1;
}

.bg-truffle_gsp{
    background: #282624;
}

.reveal-container {
  display: flex;
  flex-wrap: wrap;
  column-gap: 0.25em;
  row-gap: 0.15em;
  line-height: 1.4;
  align-items: flex-start;
}

.reveal-word {
  position: relative;
  display: inline-block;
  color: rgba(20, 19, 18, 0.48);
  transition: color 0.4s ease;
}

/* Quando la parola è "attiva", diventa bianca */
.reveal-word.active {
  color: #141312;
}

/* Ottimizzazione per mobile */
@media (max-width: 768px) {
  .reveal-container {
    column-gap: 0.2em;
  }
}

.stepper-hero_gsp{
    border-radius: 50px;
    background: var(--gs-blur-gs-blur-light-70, rgba(235, 239, 242, 0.70));
    backdrop-filter: blur(48px);
}

.hidden_gs{
    display: none;
}

.view_gsp{
    display: block;
}

.bg-141312_gsp{
    background-color: #141312;
}

.header-gsp{
    border-radius: 16px;
    border: 0.5px solid rgba(250, 249, 247, 0.64);
    background: rgba(235, 239, 242, 0.70);
    backdrop-filter: blur(48px);
    color: #141312;
}

.header-content_gsp{
    background: rgba(235, 239, 242, 0.70);
}

.menu-toggle_gsp {
    border-radius: 50px;
    background: #FAF9F7;
}

.tech-spec_gsp{
    border-bottom: 0.5px solid #141312;
}

.bg-rich-text-coll_gsp{
    background: #EFECE8;
}

.bg-modelli_gsp{
    border-radius: 16px;
    background: var(--gs-blur-gs-blur-light-70, rgba(235, 239, 242, 0.70));
    backdrop-filter: blur(48px);
}

.lg\:bg-modelli_gsp{
    @media (width >= 64rem) {
        border-radius: 16px;
        background: var(--gs-blur-gs-blur-light-70, rgba(235, 239, 242, 0.70));
        backdrop-filter: blur(48px);
    }
}

.hover\:cta-border-light_gsp {
    &:hover {
      @media (hover: hover) {
        background-color: #FAF9F7 !important;
        color:#141312 !important;
      }
    }
  }

.active-tab{
    background-color: #FAF9F7 !important;
    color:#141312 !important;
}

#news-form-box input[type="text"],
#news-form-box input[type="email"],
#news-form-box input[type="tel"] {
    border-radius: 50px;
    border: 0.5px solid #141312;
    background: transparent !important;
    outline: none;
    padding: 8px 16px;
    color: #141312;
}

.custom-radio {
    appearance: none;
    border: 0.5px solid #141312;
    border-radius: 50%;
    cursor: pointer;
    background: transparent;
}
.custom-radio:checked {
    background-color: #141312 !important;
}

.textarea-wrapper {
    border-radius: 16px;
    border: 0.5px solid #141312;    
}

#info-form-box input[type="text"],
#info-form-box input[type="email"],
#info-form-box input[type="tel"] {
    border-radius: 50px;
    border: 0.5px solid #141312;
    background: transparent !important;
    outline: none;
    padding: 8px 16px;
    color: #141312;
}

#info-form-box textarea:focus {
    outline: none;
}

#info-form-box input[type="radio"] {
    appearance: none;
    border: 0.5px solid #141312;
    border-radius: 50%;
    cursor: pointer;
    background: transparent;
}
#info-form-box input[type="radio"]:checked {
    background-color: #141312 !important;
}

#info-form-box input[type="checkbox"] {
    appearance: none;
    border: 0.5px solid #141312;
    border-radius: 4px;
    cursor: pointer;
    background: transparent;
    padding: 10px;
}
#info-form-box input[type="checkbox"]:checked {
    background-color: #141312 !important;
}

.pill-btn, .pill-btn-news {
    border-radius: 999;
    border: 0.5px solid #141312;
    background-color: transparent !important;
    color: #141312 !important;
    padding: 6px 16px;
}

.pill-btn:hover, .pill-btn-news:hover{
    background-color: #141312 !important; 
    color: #FAF9F7 !important;
}

.pill-btn.selected, .pill-btn-news.selected{
    background-color: #141312 !important;
    color:#FAF9F7 !important;
}

.coming-soon_gsp{
    background-color: #282624 !important;
    color:#FAF9F7 !important;
}

.textarea-wrapper {
    border-radius: 16px;
    border: 0.5px solid #141312;    
}

.chip{
    border: 0.5px solid #141312;
}

.chip:hover{
    background-color: #141312 !important; 
    color: #FAF9F7 !important;
}

.label-active { 
    background-color: #141312 !important; 
    color: #FAF9F7 !important; 
}

#news-form-submit, .close-cta { 
    border-radius: 50px;
    border: 0.5px solid var(--gs-stroke-stroke, rgba(201, 191, 178, 0.72));
    background: var(--System-Disabled, #76787B);
}

.bg-modali_gsp{
    background: var(--gs-blur-gs-blur-dark-90, rgba(235, 239, 242, 0.80)); 
    backdrop-filter: blur(48px);
}

.border_gsp{
    border: 0.5px solid var(--gs-primary-chinese-black, #141312);
}

.top-view-cta-toggle.active { 
    color: #FAF9F7; 
}
.top-view-cta-toggle { 
    color: #FAF9F7; 
    background: transparent; 
    border: none; cursor: 
    pointer; 
}

.top-view-tab-categories { 
    color: #141312; 
}
.top-view-tab-categories.tab-active { 
    color: #FAF9F7; 
}

.play-pause{
    border-radius: 50px;
    border: 0.5px solid var(--gs-stroke-stroke, rgba(201, 191, 178, 0.72));
    background: var(--gs-secondary-black-truffle, #282624);
    backdrop-filter: blur(48px);
}

.controls{
    border-radius: 16px;
    border: 0.5px solid var(--gs-stroke-stroke, rgba(201, 191, 178, 0.72));
    background: var(--gs-secondary-black-truffle, #282624);
    backdrop-filter: blur(48px);
}